#laos {
    width: 300px;
    height: 210px;
    background-color: red;
    margin: 0 auto;
  }
  
  #laos-blue {
    width: 300px;
    height: 110px;
    background-color: rgb(30, 72, 161);
    margin-top: 50px;
    border-top: 50px solid rgb(204, 48, 48);
    border-bottom: 50px solid rgb(204, 48, 48);
  }
  
  #laos-circle {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  